#tux-gear {
    width: 104px;
    height: 120px;
    background-image: url('../images/logos/tux.png');
    float: right;
    margin-right: 20px;
}

#donors {
    text-align: center;
}

#donors a:hover {
    background-color: inherit;
}

#protocols {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-bottom: 2em;
}

#protocols td {
    padding: 0.1em;
}

#protocols td a {
    text-decoration: none;
}

#protocols th {
    text-align: left;
    padding-left: 0.2em;
    border-bottom: 1px dotted gray;
}

#latest {
    width: 40%;
    float: right;
    margin-right: 5%;
}

#latest td {
    padding-top: 0.1em;
    padding-bottom: 0.2em;
}

#latest_label {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
}

#latest_button {
    padding-left: 5em;
}

#latest_button a:hover {
    background-color: inherit;
}

#latest_link {
    font-size: 200%;
    font-weight: bold;
    vertical-align: middle;
    padding-right: 2em;
}

#releases {
    clear: both;
    margin: 0 auto;
    width: 95%;
}

#releases td {
    padding: 0.1em;
}

#releases tr:nth-child(odd) {
    background-color: #efefef;
}
#releases tr:nth-child(even) {
    background-color: white;
}

#releases tr:hover {
    background-color: #e0e0e0;
}

#releases td a {
    text-decoration: none;
}

.eolkernel {
    font-size: 90%;
    background-color: #e6e6e6;
}

table.docutils {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

table caption {
    font-weight: bold;
    font-size: 120%;
    text-align: left;
    padding-bottom: 0.2em;
}

table.docutils th {
    background-color: #e6e6e6;
    border-bottom: 1px solid gray;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

table.docutils td {
    border-bottom: 1px dotted gray;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

p.paginator {
    font-size: 90%;
    color: gray;
    text-align: right;
    margin-right: 1em;
    margin-top: 1em;
}

footer.post-info {
    font-size: 90%;
    color: gray;
    border-left: 0.5em solid #e6e6e6;
    margin-top: 0px;
    padding: 0.6em 1.2em;
}

