/* Imports */
@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Oswald:400);
@import url("korg.css");

body {
    font-family: Oxygen, helvetica, sans-serif;
    margin-top: 20px;
    background-color: whitesmoke;
}

.body {
    width: 55em;
    margin: 1em auto;
    padding: 1em;
    background-color: white;
    color: black;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald, helvetica, sans-serif;
    color: black;
    font-weight: 300;
}

#banner {
    margin-bottom: 1em;
    padding: 0em 1em;
    height: 130px;
}

#banner h1 {
    font-size: 300%;
    font-family: Oswald, helvetica, sans-serif;
    text-decoration: none;
}

#banner h1 a {
    color: black;
}

#banner nav {
    height: 2em;
}

#banner nav ul {
    padding: 0;
}

#banner nav li {
    display: inline;
    padding: 0 1em;
}

#banner nav li.active {
    font-weight: bold;
}

#banner nav li:first-child {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: purple;
}

article a {
    text-decoration: underline;
}

h1.entry-title {
    font-size: 200%;
    margin-top: 0;
    padding-top: 0;
}

h1.entry-title a {
    text-decoration: none;
    color: black;
}

h1.entry-title a:hover {
    text-decoration: underline;
}

article p {
    line-height: 1.5em;
}

footer {
    clear: both;
    margin-top: 1em;
}

.post-info {
    float: right;
    width: 15%;
    margin-left: 2em;
}
.post-info abbr, .post-info p {
    margin: 0.3em 0;
    padding: 0;
}

#extras.body {
    height: 0;
    padding: 0;
}

.blogroll {
    float: left;
    margin-left: 1em;
    margin-top: -1em;
    width: 70%;
}

.blogroll ul {
    margin: 0;
    padding: 0;
}

.blogroll li {
    display: inline;
    padding-right: 2em;
}

.social {
    float: right;
    margin-right: 1em;
    margin-top: -1em;
    width: 20%;
}

.social ul {
    list-style-type: none;
    padding: 0;
}

.vcard {
    width: 90%;
    margin: 0px;
}

.literal-block {
    padding: 0.5em 1em;
    background: #dedede;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

ol.hfeed {
    list-style-type: none;
}

.hentry h1 {
    font-size: 170%;
}

.hentry h1 a {
    color: black;
}

a img {
    border: 0;
}
