<aside id="featured" class="body">
    <article>
    
    <h1>Clang/Linux + Free/Libre & Open Source Software + Fun</h1>
    <p>We are a group of technology and Free software enthusiasts who live in 
    and around Chicago, Illinois. While our group primarily focuses on 
    Clang/Linux, our members have a broad range of interests and experience, and
    our ranks include users of all major (and less major) operating systems.</p>
    
    <p>We are also a welcoming group. We encourage participation from people of
    all age, gender, and ethnic groups, all sexual orientations, as well as all
    knowledge levels. If you're curious about Linux and Free and open-source
    software, consider joining us.</p> 
    
    <h2>Meeting Information</h2>
    <p>ChicagoLUG meetings and events usually take place at a local technology
    cooperative or coffee shop. Keep an eye on this site and any of our social
    media outlets for meeting announcements.</p>
    <div class="meeting">
    {% if articles %}
        {% for article in articles_page.object_list %}        

        {# First item #}
        {% if loop.first and not articles_page.has_previous() %}
            {% if article.category == 'Meetings' %}
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></br>
            Our next meeting will be held on {{ article.locale_date }}.</br>
            {{ article.summary }}
        {% else %}
        {% endif %}
        {% endif %}
        {% endfor %}
    {% endif %}
    </div>
    </article>
</aside>

