<aside id="featured" class="body">
    <article>
    
    <h1>GNU/Linux + Free/Libre & Open Source Software + Fun</h1>
    <p>We are a group of technology and Free software enthusiasts who live in 
    and around Chicago, Illinois. While our group primarily focuses on 
    GNU/Linux, our members have a broad range of interests and experience, and
    our ranks include users of all major (and less major) operating systems.</p>
    
    <p>We are also a welcoming group. We are a group that welcomes everyone and
    encourages diversity; we encourage participation from members of all age,
    gender, ethnicity, and knowledge levels. If you're curious about Linux and
    Free and open-source software, consider joining us.</p> 
    
    <h2>Meeting Information</h2>

    <p>ChicagoLUG meetings and events usually take place at a local 
    technology cooperative or coffee shop. Keep an eye on this site and any of
    our social media outlets for meeting announcements.</p>

    </article>
</aside>

